* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  font-family: "poppins", sans-serif;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#timer {
  font-size: 7rem;
  font-weight: 700;

  width: 600px;
  text-align: center;
  margin: 40px auto;

  color: #480780;
  text-shadow: 3px 4px #d0b1e1;
}

#buttons {
  display: flex;
  justify-content: center;
}

button {
  background-color: #480780;
  color: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);

  border: none;
  border-radius: 30px;
  font-size: 2rem;
  font-weight: bold;

  padding: 1.5rem 4rem;
  margin: 1rem;

  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #752db4;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

button[disabled] {
  opacity: 0.5;
  cursor: default;
}

@media screen and (max-width: 800px) {
  #timer {
    font-size: 4rem;
    width: 350px;
  }

  button {
    font-size: 1.5rem;
    padding: 1rem 2rem;
  }
}
@media screen and (max-width: 500px) {
  #timer {
    font-size: 3.5rem;
    width: 300px;
  }

  button {
    font-size: 1rem;
    padding: 1rem 1.5rem;
  }
}
