* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightcyan;
  color: darkgreen;

  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
}

.container {
  width: 85%;
  max-width: 400px;

  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

  border-radius: 10px;
  padding: 20px;

  font-size: 20px;
  text-align: center;
}

.heading {
  margin: 5px;
  font-size: 30px;
}

.rating-container {
  display: flex;
  padding: 20px 0;
}

.rating {
  cursor: pointer;
  padding: 10px;
  margin: 10px 5px;
  transition: all 0.3 ease-;
}
.rating:hover {
  background-color: darkseagreen;
  border-radius: 10px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: aliceblue;
}
.active {
  cursor: pointer;
  padding: 10px;
  margin: 10px 5px;
  transition: all 0.3 ease-;
  background-color: darkseagreen;
  border-radius: 10px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: aliceblue;
}

.btn {
  background-color: darkcyan;
  color: aliceblue;

  padding: 12px 30px;
  border: 0;
  margin: 10px;
  border-radius: 4px;

  cursor: pointer;
  transition: all 0.3 ease;
}
.btn:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.btn:active {
  transform: scale(96%);
}

.rating img {
  width: 40px;
}
